.item_inner_home{
	display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px 0px;
		padding: 80px;
}

.item_inner_home2{
	display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px 0px;
		padding: 10px;
}

.shrink{
	width:50%
}