<h1>ユーザーページ</h1>
<p>大切な人にプレゼントをしたり、感謝の言葉を伝えて愛情の木を成長させましょう！</p>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/users/<%=idnum%>/lovetree">Tree</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/lovetree">Caledar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/<%=idnum%>/setting">Setting</a>
  </li>
</ul>